.button {
    -fx-background-color: null;
    -fx-text-fill: #575757;
    -fx-alignment: center-left;
}

.button:hover {
    -fx-background-color: #E98BB7;
    -fx-text-fill: #ffffff;
}

.label {
    -fx-text-fill: #575757;
}

#chillSwirlLbl {
    -fx-text-fill: #E98BB7;
}

#usernameLbl {
    -fx-text-fill: #ffffff;
}

#accountBtn {
    -fx-background-color: #E98BB7;
    -fx-text-fill: #ffffff;  
}

#ordersBtn {
    -fx-background-color: #FFDAEC;
    -fx-text-fill: #DF4A90; 
    -fx-alignment: center;
}

#ordersBtn:hover {
    -fx-background-color: #E98BB7;
    -fx-text-fill: #ffffff;
}

#orderHistoryBtn {
    -fx-background-color: #FFDAEC;
    -fx-text-fill: #DF4A90; 
    -fx-alignment: center;
}

#orderHistoryBtn:hover {
    -fx-background-color: #E98BB7;
    -fx-text-fill: #ffffff;
}

.rectangle {
    -fx-fill: #E98BB7; /* Set the fill color */
    -fx-border-color: #E98BB7; /* Set the border color */
    -fx-border-width: 5px; /* Set the border width */
    -fx-border-radius: 5px;
}